h1 {
    color: var(--bs-white);
    margin-top: 36px;
    font-family: Sacramento, serif;
    text-shadow: -3px 1px 3px #d1c2ed;
}

h6 {
    text-align: center;
    color: rgba(25,90,156,0.7);
    font-family: 'Open Sans', sans-serif;
}

.dropArea {
    border-radius: 25px;
    border-style: dashed;
    border-color: rgb(128,184,241);
    background: rgba(255,255,255,0.64);
    height: 100px;
    margin-top: 36px;
    color: rgb(33, 37, 41);
    box-shadow: 0px 0px 11px 1px rgb(99,148,198);
    margin-left: 0px;
    text-align: center;
}

.dropArea.active {
    border-style: solid;
}

.cloud {
    width: 200px;
    font-size: 38px;
    text-align: center;
    height: 65px;
    color: #8bbef1;
}

.button {
    text-align: center;
    margin-left: 0px;
    background: rgb(232,241,247);
    height: 45px;
    width: 100px;
    border-radius: 10px;
    color: rgb(150,188,219);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#resultBox {
    height: 400px;
    background: rgba(255,255,255,0.64);
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 25px;
}

#result {
    height: 100%;
}