body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #78839a;
    margin-top: 36px;
    font-weight: 800;
}

h6 {
    text-align: center;
    color: rgba(25,90,156,0.7);
}

.dropArea {
    border-radius: 30px;
    /*border-style: dashed;*/
    /*border-color: rgb(128,184,241);*/
    background: rgba(255,255,255,0.9);
    height: 180px;
    margin-top: 48px;
    box-shadow: 0 25px 25px 5px rgba(141,179,215,0.8);
    text-align: center;
}

/*.dropArea.active {*/
/*    border-style: solid;*/
/*}*/

.dropArea-child {
    border-style: dashed;
    border-radius: 20px;
    padding: 20px 222px;
    border-color: #acb3be;
    border-width: medium;
}

.dropArea-child.active {
    border-color: #327ecf;
}

.cloud {
    width: 200px;
    font-size: 38px;
    text-align: center;
    height: 65px;
    color: #8bbef1;
}

#detail {
    font-weight: 800;
    font-size: 20px;
    color: #78839a;
}

.button {
    text-align: center;
    margin-left: 0px;
    background: rgb(232,241,247);
    height: 45px;
    width: 100px;
    border-radius: 10px;
    color: rgb(150,188,219);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: none;
}

#resultBox {
    height: 400px;
    background: rgba(255,255,255,0.9);
    margin-top: 80px;
    border-radius: 30px;
    box-shadow: 0 25px 25px 5px rgba(141,179,215,0.8);
}

#result {
    height: 100%;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-top: 45px;
    color: #78839a;
}

.copyright a {
    color: rgba(25,90,156,0.7);
}